* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
}

/* LEFT SECTION */
.left-section {
    width: 60%;
    background: #f5fdf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-image {
    width: 80%;
    max-width: 500px;
}

/* RIGHT SECTION */
.right-section {
    width: 40%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* LOGO */
.logo img {
    width: 120px;
    margin-bottom: 30px;
}

/* CARD */
.card {
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    text-align: center;
    width: 80%;
    max-width: 350px;
}

.icon {
    font-size: 60px;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 20px;
    margin-bottom: 25px;
    color: #333;
}

/* BUTTON */
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #0a7d35, #0f9d58);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}